<section class="bg-white grid gap-x-8 gap-y-6">
  <header>
    <nav class="border-gray-200 px-4 lg:px-6 py-2.5 bg-gray-800">
      <div class="flex flex-wrap justify-between items-center max-w-screen-xl">
        <a href="/" class="flex items-center">
          <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Logo" />
          <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Banco País</span>
        </a>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</section>
